addressparser==0.2.4
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
bidict==0.23.1
certifi==2026.1.4
china-region==0.0.11
click==8.3.1
colorama==0.4.6
divicast==0.1.1
fastapi==0.128.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.11
jieba==0.42.1
markdown-it-py==4.0.0
mdurl==0.1.2
numpy==2.4.1
pandas==2.3.3
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.19.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-telegram-bot==22.5
pytz==2025.2
rich==14.0.0
six==1.17.0
starlette==0.50.0
sxtwl==2.0.7
tyme4py==1.4.2
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
uvicorn==0.40.0
