# MySQL config
MySQL_DB_HOST=127.0.0.1
MySQL_DB_PORT=3306
MySQL_DB_DATABASE=carbon
MySQL_DB_USERNAME=root
MySQL_DB_PASSWORD=123456

# PostgreSQL config
PgSQL_DB_HOST=127.0.0.1
PgSQL_DB_PORT=5432
PgSQL_DB_DATABASE=carbon
PgSQL_DB_USERNAME=root
PgSQL_DB_PASSWORD=123456

# SQLite config
SQLite_DB_DATABASE=file::memory:?cache=shared
